.login{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    background: url('/background.png') no-repeat center center fixed;
    background-size: cover; 
}
.login .logo{
    width: max(20vw, 200px);

}
.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(62, 134, 234, 0.1);

}

.login-form h2{
    font-weight: 500;
    margin-bottom: 10px;


}

.form-input{
    padding: 10px;
    width: min(300px, 80vw);
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline-color: #077EFF;
}
.login-form button{
    padding: 10px 20px;
    width: min(320px, 80vw);
    background-color: #077EFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button:hover{
    background-color: #005FCC;
}

@media (max-width: 600px) {
    .login form {
        width: 90%;
        padding: 20px;
    }
}

.login-term{
    font-size: 14px;
    color: #808080;
    display: flex;
    gap: 5px;

}

.login-forgot{
    font-size: 14px;
    color: #077EFF;
    cursor: pointer;
   
}

.login-forgot:hover{
    color: #005FCC;
}

.login-toggle{
    font-size: 14px;
    color: #808080;
    cursor: pointer;
   
}
.login-toggle span{
    color: #077EFF;
    font-weight: 500;
    
}