.chat{
    min-height: 100vh;
    background: linear-gradient(#596AFF, #383699);
    display: flex;
    align-items: center;
}

.chat-container{
    width: min(1200px, 95vw);
    height: 75vh;
    background-color: aliceblue;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr 3fr 1fr;
}